*.cma
*.cmx
*.cmo
*.cmi
*.o
*.a
*.cmxa
*~
*.opt
components/METAS/META*
components/extlib/componentsConf.ml
matita/matitaGeneratedGui.ml
matita/matita.conf.xml
matita/matita.glade.utf8
matita/matitac
matita/matitaclean
depend-stamp
configure
config.status
config.log
autom4te.cache/
Makefile.defs
matita/buildTimeConf.ml
matita/help/C/version.txt
matita/matita
